<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Online Bookstore</title>
  </head>

  <body>
    <!-- Navigation -->
    <div class="content">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" routerLink="/">Online Bookstore</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div *ngIf="!isAdmin">
            <!-- <app-search></app-search> -->
          </div>

          <ul class="navbar-nav">
						<li *ngIf="!isAdmin" class="nav-item">
              <a class="nav-link" routerLink="/about" routerLinkActive="active"
                >About Us</a
              >
            </li>
            <li *ngIf="!isAdmin" class="nav-item">
              <a
                class="nav-link"
                routerLink="/contact"
                routerLinkActive="active"
                >Contact Us</a
              >
            </li>
            <li class="nav-item" *ngIf="isAdmin">
              <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active"
                >Dashboard</a
              >
            </li>
            <li *ngIf="!isLoggedIn; else elseBlock" class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive="active"
                >Login</a
              >
              <!-- <span class="sr-only">(current)</span> -->
            </li>
            <ng-template #elseBlock>
              <div class="dropdown">
                <button
                  class="btn btn-dark dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ getUsername() | titlecase}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <button
                    class="btn btn-dark dropdown-item"
                    (click)="doLogout()"
                  >
                    Logout
                  </button>
                </div>
              </div>
            </ng-template>
          </ul>
        </div>
      </nav>
      <!-- Page Content -->
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </body>
</html>
